*{
    margin: 0%;
    padding: 0%;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
   background: url(../images/image16.jpg)no-repeat center;
   background-size: cover;
}
.head{
   color: chocolate;
   margin: 20px;
}
.title{
    margin-bottom: 20px;
    font-size: 15px;
}
.item{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 342px;
    padding: 20px;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    margin: 20px 10px;
    transition: 0.5s ease-in-out;
}
.item:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
}
.blockquote{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color:crimson;
    font-size: 20px;
    padding-bottom: 20px;
}
.cite{
    color: teal;
    font-size: 18px;
    padding: 20px;
}